*{
    margin: 0;
    text-align: center;
    background-color: #cccc;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
}

div{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    position: absolute;
}


input{
    background-color: #ffff;
    border:1px solid black;
    text-align: center;
    display:block;
    padding: 5px;
    margin: 8px;
}

